.container {
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main {
  min-height: 0vh;
  padding: 0.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #232121; 
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer .unwanted-content {
  display: none; /* Hide the content within the footer */
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.smalltext {
  font-size: 1.2rem; 
  font-weight: bold; 
  text-align: center; 
  margin-bottom: 1rem;
}

.header {
  font-size: 2rem; 
  font-weight: bold; 
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 0rem;
}

.title {
  margin-top: 13rem;
  line-height: 1;
  font-size: 5rem;
  font-family: 'Impact', sans-serif;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allows wrapping if cards overflow horizontally */
  gap: 20px; /* Adds space between cards */
  max-width: 100%;
  width: 100%;
}



.card {

  flex-direction: column; /* Stack text and images vertically */
  align-items: center; /* Horizontally center the content inside the card */
  justify-content: center; /* Center content vertically if necessary */
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center; /* Center the text inside the card */
  gap: 10rem;
}



.card h2 {
  margin-bottom: 10rem;
  font-size: 1.2rem;
}

.card p {
  margin-bottom: 10rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card img {
  display: block; 
  margin: auto;
  max-width: 100%;
  height: auto; 
}
.card p {
  text-align: center;
  margin-bottom: 0.5rem;
}

.card h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  gap: .5rem; 
  margin-bottom: 1rem;
}

.button {
  padding: .35rem 1rem; 
  font-size: 1rem; 
  font-weight: bold;
  border: none;
  border-radius: 4px; 
  background-color: #0d76fc; 
  color: white; 
  cursor: pointer;
  transition: background-color 0.3s; 
}
.button:hover {
  background-color: #005bb5; 
}

